<div class="container-fluid" ng-controller="tbtCtrl">
 <h1 class="htxt">3x3</h1>
 <div class="table-responsive" id="grid">
  <table class=" table table-bordered" table-condensed" align="center" style="width:50%;height:50%">
   <tr>
    <td class="box" ng-click="showid('1', '1' )">
     <p class="boxtxt" id="1">1</p>
    </td>
    <td class="box" ng-click="showid('2', '2' )">
     <p class="boxtxt" id="2">2</p>
    </td>
    <td class="box" ng-click="showid('3', '4' )">
     <p class="boxtxt" id="3">3</p>
    </td>
   </tr>
   <tr>
    <td class="box" ng-click="showid('4', '8' )">
     <p class="boxtxt" id="4">4</p>
    </td>
    <td class="box" ng-click="showid('5', '16' )">
     <p class="boxtxt" id="5">5</p>
    </td>
    <td class="box" ng-click="showid('6', '32' )">
     <p class="boxtxt" id="6">6</p>
    </td>
   </tr>
   <tr>
    <td class="box" ng-click="showid('7', '64' )">
     <p class="boxtxt" id="7">7</p>
    </td>
    <td class="box" ng-click="showid('8', '128' )">
     <p class="boxtxt" id="8">8</p>
    </td>
    <td class="box" ng-click="showid('9', 256 )">
     <p class="boxtxt" id="9">9</p>
    </td>
  </table>
 </div>
 <p class="txt">סיבוב : {{round}}</p>
 <!-- Modal -->
 <div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" dir="rtl">
  <div class="modal-dialog">
   <div class="modal-content">
    <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
     <h4 class="modal-title" id="myModalLabel"></h4>
     <h1 class="txt" ng-repeat="question in questions|filter:sqid">{{ question.Question }}?</h1>
    </div>
    <div class="modal-body">
     <div id="media" class="row" ></div>
     <div class="row" ng-repeat="question in questions|filter:sqid">
      <ul ng-repeat="answer in question.Answers">
       <li class="anstxt">{{answer}}</li>
      </ul>

      <form class="form-inline" role="form">
       <div class="col-sm-6 pull-right">
        <label>תשובה</label>
        <select class="form-control" id="ans">
         <option ng-repeat="answer in question.Answers">{{answer}}</option>
        </select>
       </div>
      </form>
     </div>
    </div>

    <div class="modal-footer">
     <button type="button" ng-click="submit()" class="btn btn-primary" ng-model="ans">שלח</button>
    </div>
   </div>

  </div>
 </div>
</div>
 </div>
</div>
</div>
